.list {
  padding: 16px 30px;
}

.item:not(:last-child) {
  margin-bottom: 4px;
}
.div {
  display: flex;
}
ul {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.details {
  text-align: left;
}

.divDetails {
  margin-left: 12px;
}

.btn {
  width: 120px;
  height: 24px;
  color: rgb(0, 15, 0);
  text-align: center;
  margin-bottom: 24px;
}

.btn :hover,
:focus {
  color: #2d3bb9;
}
.cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 100%;
  text-align: center;
  background-color: #080808;
}
